.up{
    color:red
}
.image1{
    width: 609px
;
    
    max-width: 100%;
    height: auto;
    height: 250px;
    margin-left: 10px;
    border-radius: 15px;
    height: 224px;
    
    
}
.image2{
    
    width: 680px
    ;
        max-width: 100%;
        height: auto;
        height: 250px;
        margin-left: -53px;
        border-radius: 15px;
       
        height: 224px
;
    margin-top: 20px
;
        
}
.parag1{
    background-color: #E67E22;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 25px;
    width: 680px
    ;
    padding: 50px;
    margin: 20px;
    color: white;
    width: 500px;
    height: 120px
    ;
    margin-left: 9px;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;

  }
  .parag2{
    background-color: #3498db;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 25px;
    width: 700px
    ;
    padding: 50px;
    margin: 20px;
    color: white;
    width: 505px;
    height: 120px
    ;
    margin-left: -53px;
    border-radius: 15px;
    margin-top: 16px;
    font-family:'Nunito', sans-serif;

  }
.up{
    color: white;
    text-align: center;
    padding-top: 91px
    ;
        padding-left: 50px
    ;
    text-align: inherit;
    }
   

 
.title{
    margin-top: -21px
    ;
}
.body{
    display:flex;
    margin-top: -92px
    ;
    margin-left: 40px
    
}
.faf{
    background-color: #34495e;

}
.style2{
    margin-left: 50px;
    margin-top: 68px ;
}
.style1{
    margin-top: 68px;
}